<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <title>Incroyable chat</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
      <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

      <link rel="stylesheet" href="/stylesheets/chat.css" />
    </head>

    <body>
      <div class="card bg-light" id="chat">
          <div class="card-header">
              <h6 class="card-subtitle mb-2 text-muted">Chat de la partie</h6>
          </div>
          <div class="card-body msg_card_body" id="chatBody">
              <div class="d-flex justify-content-start mb-1">
                  <div id="messages" class="msg_cotainer" ></div>
              </div>
          </div>

          <div class="card-footer bg-light" id="chatFooter">
              <form id="formSendMessage">
                <div class="input-group">
                    <input class="form-control" id="message" />
                    <input type="submit" value="Envoyer" id="envoyerMessage" class="btn btn-primary active" />
                </div>
              </form>
          </div>
      </div>

      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

      <script src="/socket.io/socket.io.js"></script>
      <script>
        var socket = io.connect('http://projetl3.alwaysdata.net'); // http://projetl3.alwaysdata.net/ - localhost:8080
        var chat = document.getElementById('messages');

        var pseudo = prompt('Quel est votre pseudo ?');
        socket.emit('nouvellePersonne', pseudo);

        socket.on('newMessage', function(message, pseudo) {
            $('#messages').append("<p><b>" + pseudo + "</b> : " + message + "</p>");
            chat.scrollIntoView(false);
        })

        socket.on('nouvelArrivant', function(message) {
            alert(message);
        })

        $('#envoyerMessage').click(function () {
            socket.emit('newMessage', $('#message').val());
            $('#messages').append("<p><b>" + pseudo + "</b> : " + $('#message').val() + "</p>");
            chat.scrollIntoView(false);
            $('#message').val('');
        })

        $('#formSendMessage').submit(function () {
          return false;
        });
      </script>
  </body>
</html>
