<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Incroyable formualaire</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <!--<link rel="stylesheet" href="/stylesheets/chat.css" /> -->
</head>

<body>


<div id="inscription">
    <h2>Create an Account</h2>
    <form id="forminscription" action="" method="post">
        <fieldset>
            <label for="pseudo">Pseudo</label> <input class="text" id="pseudo" type="text" name="pseudo" value="" />
            <label for="email">Email</label> <input class="text" id="email" type="email" name="email" value="" />
            <label for="mdp">Mot de passe</label> <input class="text" id="mdp" type="password" name="mdp" />
            <button id="newuser" type="submit">Register</button></fieldset>
    </form>
</div>

<!--
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://projetl3.alwaysdata.net/'); // http://projetl3.alwaysdata.net/ - localhost:8080
    var chat = document.getElementById('messages');

    var pseudo = prompt('Quel est votre pseudo ?');
    socket.emit('nouvellePersonne', pseudo);

    socket.on('newMessage', function(message) {
        $('#messages').append(message);
    })

    $('#formSendMessage').submit(function () {
        socket.emit('newMessage', $('#message').val());
        $('#messages').append("<p><b>" + pseudo + "</b> : " + $('#message').val() + "</p>");
        chat.scrollIntoView(false);
        $('#message').val('');
        return false;
    });
</script>
-->
</body>
</html>
