html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url("/images/background.jpg");
	background-position: 0 20%;
	overflow: hidden;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.create{
	width: 100%;
}

.login{
	width: 40%;
	float: right;
}

.signin{
	width: 40%;
	float: left;
}

.forgot{
	color: white;
	width: 60%;
	float: left;
}

#button-container{
	text-align: center;
}

.centered {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -10%);
}

#title{
	font-family: Roboto, Arial;
	font-size: 100px;
	font-weight: bold;
	text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;
	animation: RGB 15s infinite;
}

@keyframes RGB {
	100%,0%{
		text-shadow: rgb(255,0,0) 3px 0px 0px, rgb(255,0,0) 2.83487px 0.981584px 0px, rgb(255,0,0) 2.35766px 1.85511px 0px, rgb(255,0,0) 1.62091px 2.52441px 0px, rgb(255,0,0) 0.705713px 2.91581px 0px, rgb(255,0,0) -0.287171px 2.98622px 0px, rgb(255,0,0) -1.24844px 2.72789px 0px, rgb(255,0,0) -2.07227px 2.16926px 0px, rgb(255,0,0) -2.66798px 1.37182px 0px, rgb(255,0,0) -2.96998px 0.42336px 0px, rgb(255,0,0) -2.94502px -0.571704px 0px, rgb(255,0,0) -2.59586px -1.50383px 0px, rgb(255,0,0) -1.96093px -2.27041px 0px, rgb(255,0,0) -1.11013px -2.78704px 0px, rgb(255,0,0) -0.137119px -2.99686px 0px, rgb(255,0,0) 0.850987px -2.87677px 0px, rgb(255,0,0) 1.74541px -2.43999px 0px, rgb(255,0,0) 2.44769px -1.73459px 0px, rgb(255,0,0) 2.88051px -0.838247px 0px;
	}
	8%{
		text-shadow: rgb(255,127,0) 3px 0px 0px, rgb(255,127,0) 2.83487px 0.981584px 0px, rgb(255,127,0) 2.35766px 1.85511px 0px, rgb(255,127,0) 1.62091px 2.52441px 0px, rgb(255,127,0) 0.705713px 2.91581px 0px, rgb(255,127,0) -0.287171px 2.98622px 0px, rgb(255,127,0) -1.24844px 2.72789px 0px, rgb(255,127,0) -2.07227px 2.16926px 0px, rgb(255,127,0) -2.66798px 1.37182px 0px, rgb(255,127,0) -2.96998px 0.42336px 0px, rgb(255,127,0) -2.94502px -0.571704px 0px, rgb(255,127,0) -2.59586px -1.50383px 0px, rgb(255,127,0) -1.96093px -2.27041px 0px, rgb(255,127,0) -1.11013px -2.78704px 0px, rgb(255,127,0) -0.137119px -2.99686px 0px, rgb(255,127,0) 0.850987px -2.87677px 0px, rgb(255,127,0) 1.74541px -2.43999px 0px, rgb(255,127,0) 2.44769px -1.73459px 0px, rgb(255,127,0) 2.88051px -0.838247px 0px;
	}
	16%{
		text-shadow: rgb(255,255,0) 3px 0px 0px, rgb(255,255,0) 2.83487px 0.981584px 0px, rgb(255,255,0) 2.35766px 1.85511px 0px, rgb(255,255,0) 1.62091px 2.52441px 0px, rgb(255,255,0) 0.705713px 2.91581px 0px, rgb(255,255,0) -0.287171px 2.98622px 0px, rgb(255,255,0) -1.24844px 2.72789px 0px, rgb(255,255,0) -2.07227px 2.16926px 0px, rgb(255,255,0) -2.66798px 1.37182px 0px, rgb(255,255,0) -2.96998px 0.42336px 0px, rgb(255,255,0) -2.94502px -0.571704px 0px, rgb(255,255,0) -2.59586px -1.50383px 0px, rgb(255,255,0) -1.96093px -2.27041px 0px, rgb(255,255,0) -1.11013px -2.78704px 0px, rgb(255,255,0) -0.137119px -2.99686px 0px, rgb(255,255,0) 0.850987px -2.87677px 0px, rgb(255,255,0) 1.74541px -2.43999px 0px, rgb(255,255,0) 2.44769px -1.73459px 0px, rgb(255,255,0) 2.88051px -0.838247px 0px;
	}
	25%{
		text-shadow: rgb(127,255,0) 3px 0px 0px, rgb(127,255,0) 2.83487px 0.981584px 0px, rgb(127,255,0) 2.35766px 1.85511px 0px, rgb(127,255,0) 1.62091px 2.52441px 0px, rgb(127,255,0) 0.705713px 2.91581px 0px, rgb(127,255,0) -0.287171px 2.98622px 0px, rgb(127,255,0) -1.24844px 2.72789px 0px, rgb(127,255,0) -2.07227px 2.16926px 0px, rgb(127,255,0) -2.66798px 1.37182px 0px, rgb(127,255,0) -2.96998px 0.42336px 0px, rgb(127,255,0) -2.94502px -0.571704px 0px, rgb(127,255,0) -2.59586px -1.50383px 0px, rgb(127,255,0) -1.96093px -2.27041px 0px, rgb(127,255,0) -1.11013px -2.78704px 0px, rgb(127,255,0) -0.137119px -2.99686px 0px, rgb(127,255,0) 0.850987px -2.87677px 0px, rgb(127,255,0) 1.74541px -2.43999px 0px, rgb(127,255,0) 2.44769px -1.73459px 0px, rgb(127,255,0) 2.88051px -0.838247px 0px;
	}
	33%{
		text-shadow: rgb(0,255,0) 3px 0px 0px, rgb(0,255,0) 2.83487px 0.981584px 0px, rgb(0,255,0) 2.35766px 1.85511px 0px, rgb(0,255,0) 1.62091px 2.52441px 0px, rgb(0,255,0) 0.705713px 2.91581px 0px, rgb(0,255,0) -0.287171px 2.98622px 0px, rgb(0,255,0) -1.24844px 2.72789px 0px, rgb(0,255,0) -2.07227px 2.16926px 0px, rgb(0,255,0) -2.66798px 1.37182px 0px, rgb(0,255,0) -2.96998px 0.42336px 0px, rgb(0,255,0) -2.94502px -0.571704px 0px, rgb(0,255,0) -2.59586px -1.50383px 0px, rgb(0,255,0) -1.96093px -2.27041px 0px, rgb(0,255,0) -1.11013px -2.78704px 0px, rgb(0,255,0) -0.137119px -2.99686px 0px, rgb(0,255,0) 0.850987px -2.87677px 0px, rgb(0,255,0) 1.74541px -2.43999px 0px, rgb(0,255,0) 2.44769px -1.73459px 0px, rgb(0,255,0) 2.88051px -0.838247px 0px;
	}
	41%{
		text-shadow: rgb(0,255,127) 3px 0px 0px, rgb(0,255,127) 2.83487px 0.981584px 0px, rgb(0,255,127) 2.35766px 1.85511px 0px, rgb(0,255,127) 1.62091px 2.52441px 0px, rgb(0,255,127) 0.705713px 2.91581px 0px, rgb(0,255,127) -0.287171px 2.98622px 0px, rgb(0,255,127) -1.24844px 2.72789px 0px, rgb(0,255,127) -2.07227px 2.16926px 0px, rgb(0,255,127) -2.66798px 1.37182px 0px, rgb(0,255,127) -2.96998px 0.42336px 0px, rgb(0,255,127) -2.94502px -0.571704px 0px, rgb(0,255,127) -2.59586px -1.50383px 0px, rgb(0,255,127) -1.96093px -2.27041px 0px, rgb(0,255,127) -1.11013px -2.78704px 0px, rgb(0,255,127) -0.137119px -2.99686px 0px, rgb(0,255,127) 0.850987px -2.87677px 0px, rgb(0,255,127) 1.74541px -2.43999px 0px, rgb(0,255,127) 2.44769px -1.73459px 0px, rgb(0,255,127) 2.88051px -0.838247px 0px;
	}
	50%{
		text-shadow: rgb(0,255,255) 3px 0px 0px, rgb(0,255,255) 2.83487px 0.981584px 0px, rgb(0,255,255) 2.35766px 1.85511px 0px, rgb(0,255,255) 1.62091px 2.52441px 0px, rgb(0,255,255) 0.705713px 2.91581px 0px, rgb(0,255,255) -0.287171px 2.98622px 0px, rgb(0,255,255) -1.24844px 2.72789px 0px, rgb(0,255,255) -2.07227px 2.16926px 0px, rgb(0,255,255) -2.66798px 1.37182px 0px, rgb(0,255,255) -2.96998px 0.42336px 0px, rgb(0,255,255) -2.94502px -0.571704px 0px, rgb(0,255,255) -2.59586px -1.50383px 0px, rgb(0,255,255) -1.96093px -2.27041px 0px, rgb(0,255,255) -1.11013px -2.78704px 0px, rgb(0,255,255) -0.137119px -2.99686px 0px, rgb(0,255,255) 0.850987px -2.87677px 0px, rgb(0,255,255) 1.74541px -2.43999px 0px, rgb(0,255,255) 2.44769px -1.73459px 0px, rgb(0,255,255) 2.88051px -0.838247px 0px;
	}
	58%{
		text-shadow: rgb(0,127,255) 3px 0px 0px, rgb(0,127,255) 2.83487px 0.981584px 0px, rgb(0,127,255) 2.35766px 1.85511px 0px, rgb(0,127,255) 1.62091px 2.52441px 0px, rgb(0,127,255) 0.705713px 2.91581px 0px, rgb(0,127,255) -0.287171px 2.98622px 0px, rgb(0,127,255) -1.24844px 2.72789px 0px, rgb(0,127,255) -2.07227px 2.16926px 0px, rgb(0,127,255) -2.66798px 1.37182px 0px, rgb(0,127,255) -2.96998px 0.42336px 0px, rgb(0,127,255) -2.94502px -0.571704px 0px, rgb(0,127,255) -2.59586px -1.50383px 0px, rgb(0,127,255) -1.96093px -2.27041px 0px, rgb(0,127,255) -1.11013px -2.78704px 0px, rgb(0,127,255) -0.137119px -2.99686px 0px, rgb(0,127,255) 0.850987px -2.87677px 0px, rgb(0,127,255) 1.74541px -2.43999px 0px, rgb(0,127,255) 2.44769px -1.73459px 0px, rgb(0,127,255) 2.88051px -0.838247px 0px;
	}
	66%{
		text-shadow: rgb(0,0,255) 3px 0px 0px, rgb(0,0,255) 2.83487px 0.981584px 0px, rgb(0,0,255) 2.35766px 1.85511px 0px, rgb(0,0,255) 1.62091px 2.52441px 0px, rgb(0,0,255) 0.705713px 2.91581px 0px, rgb(0,0,255) -0.287171px 2.98622px 0px, rgb(0,0,255) -1.24844px 2.72789px 0px, rgb(0,0,255) -2.07227px 2.16926px 0px, rgb(0,0,255) -2.66798px 1.37182px 0px, rgb(0,0,255) -2.96998px 0.42336px 0px, rgb(0,0,255) -2.94502px -0.571704px 0px, rgb(0,0,255) -2.59586px -1.50383px 0px, rgb(0,0,255) -1.96093px -2.27041px 0px, rgb(0,0,255) -1.11013px -2.78704px 0px, rgb(0,0,255) -0.137119px -2.99686px 0px, rgb(0,0,255) 0.850987px -2.87677px 0px, rgb(0,0,255) 1.74541px -2.43999px 0px, rgb(0,0,255) 2.44769px -1.73459px 0px, rgb(0,0,255) 2.88051px -0.838247px 0px;
	}
	75%{
		text-shadow: rgb(127,0,255) 3px 0px 0px, rgb(127,0,255) 2.83487px 0.981584px 0px, rgb(127,0,255) 2.35766px 1.85511px 0px, rgb(127,0,255) 1.62091px 2.52441px 0px, rgb(127,0,255) 0.705713px 2.91581px 0px, rgb(127,0,255) -0.287171px 2.98622px 0px, rgb(127,0,255) -1.24844px 2.72789px 0px, rgb(127,0,255) -2.07227px 2.16926px 0px, rgb(127,0,255) -2.66798px 1.37182px 0px, rgb(127,0,255) -2.96998px 0.42336px 0px, rgb(127,0,255) -2.94502px -0.571704px 0px, rgb(127,0,255) -2.59586px -1.50383px 0px, rgb(127,0,255) -1.96093px -2.27041px 0px, rgb(127,0,255) -1.11013px -2.78704px 0px, rgb(127,0,255) -0.137119px -2.99686px 0px, rgb(127,0,255) 0.850987px -2.87677px 0px, rgb(127,0,255) 1.74541px -2.43999px 0px, rgb(127,0,255) 2.44769px -1.73459px 0px, rgb(127,0,255) 2.88051px -0.838247px 0px;
	}
	83%{
		text-shadow: rgb(255,0,255) 3px 0px 0px, rgb(255,0,255) 2.83487px 0.981584px 0px, rgb(255,0,255) 2.35766px 1.85511px 0px, rgb(255,0,255) 1.62091px 2.52441px 0px, rgb(255,0,255) 0.705713px 2.91581px 0px, rgb(255,0,255) -0.287171px 2.98622px 0px, rgb(255,0,255) -1.24844px 2.72789px 0px, rgb(255,0,255) -2.07227px 2.16926px 0px, rgb(255,0,255) -2.66798px 1.37182px 0px, rgb(255,0,255) -2.96998px 0.42336px 0px, rgb(255,0,255) -2.94502px -0.571704px 0px, rgb(255,0,255) -2.59586px -1.50383px 0px, rgb(255,0,255) -1.96093px -2.27041px 0px, rgb(255,0,255) -1.11013px -2.78704px 0px, rgb(255,0,255) -0.137119px -2.99686px 0px, rgb(255,0,255) 0.850987px -2.87677px 0px, rgb(255,0,255) 1.74541px -2.43999px 0px, rgb(255,0,255) 2.44769px -1.73459px 0px, rgb(255,0,255) 2.88051px -0.838247px 0px;
	}
	91%{
		text-shadow: rgb(255,0,127) 3px 0px 0px, rgb(255,0,127) 2.83487px 0.981584px 0px, rgb(255,0,127) 2.35766px 1.85511px 0px, rgb(255,0,127) 1.62091px 2.52441px 0px, rgb(255,0,127) 0.705713px 2.91581px 0px, rgb(255,0,127) -0.287171px 2.98622px 0px, rgb(255,0,127) -1.24844px 2.72789px 0px, rgb(255,0,127) -2.07227px 2.16926px 0px, rgb(255,0,127) -2.66798px 1.37182px 0px, rgb(255,0,127) -2.96998px 0.42336px 0px, rgb(255,0,127) -2.94502px -0.571704px 0px, rgb(255,0,127) -2.59586px -1.50383px 0px, rgb(255,0,127) -1.96093px -2.27041px 0px, rgb(255,0,127) -1.11013px -2.78704px 0px, rgb(255,0,127) -0.137119px -2.99686px 0px, rgb(255,0,127) 0.850987px -2.87677px 0px, rgb(255,0,127) 1.74541px -2.43999px 0px, rgb(255,0,127) 2.44769px -1.73459px 0px, rgb(255,0,127) 2.88051px -0.838247px 0px;
	}
}

.validate{
		float: right;
}

#creation .input-group .input-group-prepend{
	width: 35%;
}

#creation .input-group .input-group-prepend .input-group-text{
	width: 100%;
}

#creation{
	margin-top: 50%;
	padding-right: 10%;
	display: none;
}

#rejoindre{
	margin-top: 50%;
	margin-right: 10%;
	display: none;
	background-color: white;
	overflow: auto;
	max-height: 40%;
}

#nomPartie{
	width: 60%;
}

#joueurs{
	width: 30%;
}

#btnRejoindre{
	width: 20%;
}

#connexion{
	margin-top: 17%;
	display: none;
}

#inscription{
	margin-top: 17%;
	display: none;
}

.container-fluid{
	height: 100%;
}

td button {
	padding: 3px 6px 0px 6px !important;
}

td button i {
	height: 50%;
}

tbody{
	max-height: 40%;
}

.panel{
	margin-bottom: 0px;
	min-height: 68%;
	height: 68%;
}
.msg_container_base{
	background: #e5e5e5;
	margin: 0;
	padding: 10px 10px 10px;
	max-height: 100%;
	min-height: 100%;
	overflow-x:hidden;
}
.top-bar {
	background: #666;
	color: white;
	padding: 10px;
	position: relative;
	overflow: hidden;
}
.msg_receive{
	padding-left:0;
	margin-left:0;
}
.msg_sent{
	padding-bottom:20px !important;
	margin-right:0;
}
.messages {
	background: white;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	max-width:100%;
}
.messages > p {
	font-size: 13px;
	margin: 0 0 0.2rem 0;
	}
.messages > time {
	font-size: 11px;
	color: #ccc;
}
.msg_container {
	padding: 3px;
	overflow: hidden;
	display: flex;
}
.avatar {
	position: relative;
}
.base_receive > .avatar:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border: 5px solid #FFF;
	border-left-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgba(0, 0, 0, 0);
}
.base_sent {
	justify-content: flex-end;
	align-items: flex-end;
}
.base_sent > .avatar:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 5px solid white;
	border-right-color: transparent;
	border-top-color: transparent;
	box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}
.msg_sent > time{
	float: right;
}
.msg_container_base::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.msg_container_base::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
.msg_container_base::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.btn-group.dropup{
	position:fixed;
	left:0px;
	bottom:0;
}
.panel-footer {
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
#chat_window_1{
	padding-right:0px !important;
}
#chat_window_1 #chat_row{
	padding: 1em;
	height: 100%;
}

.playerArea{
	height: 40%;
	min-width: 80%;
	width: 80%;
	/*background-color: cyan;*/
	float: left;
	margin: 2%;
}

#mainPlayer{
	width: 100%;
	height: 50%;
}

.playerName{
	text-align: center;
	color: white;
	font-family: Roboto, Arial;
	font-weight: bold;
}

a img {
	display: block;
	width: 100%;
	margin: 0;
	height: 100%;
}

.cardDisplay{
	margin-top: 50%;
}

li img{
	width: 100%;
	height: 100%;
}

#tas img{
	width: 70%;
}

#mainPlayer .card{
	font-size: 3.0em;
}

#pioche a img:hover{
	margin-bottom: 2em;
}

#ingameMenu{
	text-align: center;
	background-color: white;
}

#ingameMenu input{
	margin: 2%;
}

#ingameMenu .form-check p{
	width: 50%;
}

#pioche img {
	width: 70%;
}
